<% provide(:title,"Home")%>
<div class="center jumbotron">
  <h1><b>Welcome to Sample App</b></h1>
<p>
  This is the home page for the
  <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application.
</p>
  <%= link_to("Sign Up now", new_user_path, {class: "btn btn-lg btn-primary"}) %>
</div>