<% provide(:title,"Home")%>
<div class="center jumbotron">
  <h1><b>Welcome to Sample App</b></h1>
  <h2>
  	This is Home Page for rails sample app 
  </h2>
  <%= link_to("Sign Up now", signup_path, {class: "btn btn-lg btn-primary"}) %>
</div>